---
import CloseIcon from '@components/icons/Close.astro';
const {id} = Astro.props;
---
<dialog id={id} class="rounded-xl min-w-2xl w-fit max-w-5xl max-h-[95%] px-4 py-6 overflow-y-hidden">
    <header class="flex flex-col justify-start items-start relative mb-2">
        <div class="z-0">
            <slot name="img"/>
        </div>
        <div class="flex flex-col items-center w-full px-10 mt-20 z-20">
            <h4 class="mt-2 text-md font-extrabold tracking-widest max-lg:text-center text-secondary uppercase">
                <slot name="type" />
            </h4>
            <h3 class="mt-2 text-lg font-extrabold tracking-widest max-lg:text-center text-neutral-500 uppercase">
                <slot name="subtitle" />
            </h3>
            <h2 class="uppercase font-semibold text-2xl leading-8 tracking-wide">
                <slot name="title" />
            </h2>
            <h3 class="mt-2 text-lg font-light tracking-widest max-lg:text-center text-neutral-500 uppercase">
                <slot name="certifiedBy" />
            </h3>
        </div>
        <button type="button" data-id={id} class="close-button absolute top-0 -right-4 text-neutral-400 w-8 h-8 hover:text-primary cursor-pointer outline-0 ">
            <form method="dialog">
                <CloseIcon>
                    <slot name="close" />
                </CloseIcon>
            </form>
        </button>
    </header>
    <div class="max-h-[600px] overflow-y-auto p-6">
        <div class="text-left text-neutral-500 leading-8 tracking-wide font-light text-md">
            <slot name="main"/>
        </div>
    </div>
</dialog>

<style>
	@reference "@styles/global.css";
    dialog {
        @apply fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &::backdrop {
            @apply bg-neutral-800/55 fixed top-0 right-0 left-0 bottom-0;
        }
        ul{
            list-style: disc;
            margin-left:20px;
            margin-bottom:0.5rem;
        }
        hr{
            @apply border-0 my-1.5;
        }
        strong{
            @apply font-bold text-lg;
        }
    }

</style>
<script>
    const buttons = document.getElementsByClassName('close-button');
    Array.prototype.forEach.call(buttons, button => {
        button.addEventListener('click', (e) => {
            const dialog = document.getElementById(button.getAttribute("data-id"));
            dialog.close();
        });
    });
</script>